/* General styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3f4f6;
    color: #333;
    padding: 20px;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #3498db;
    text-align: center;
    margin-bottom: 30px;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #2c3e50;
}

input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="number"]:focus,
input[type="date"]:focus {
    border-color: #3498db;
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.5);
}

button {
    width: 100%;
    background-color: #3498db;
    color: white;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(52, 152, 219, 0.3);
}

button:hover {
    background-color: #2980b9;
    box-shadow: 0 8px 16px rgba(52, 152, 219, 0.5);
}

/* Result styles */
#result {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    border: 2px solid #3498db;
    border-radius: 10px;
    background-color: #ecf0f1;
    box-shadow: 0 4px 8px rgba(52, 152, 219, 0.2);
}

/* Table styles */
#emiTable {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border: 2px solid #3498db;
    background-color: #eaf2f8;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(52, 152, 219, 0.2);
}

#emiTable th, #emiTable td {
    border: 1px solid #3498db;
    padding: 12px;
    text-align: center;
}

#emiTable th {
    background-color: #2980b9;
    color: white;
    font-weight: bold;
}

#emiTable td {
    background-color: #eaf2f8;
}

/* Responsive design */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 24px;
    }

    button {
        font-size: 16px;
    }
}
